<!-- Fruits Shop Start -->
<div #topContainer></div>
<div class="container-fluid fruite py-5">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-lg-12">
        <div class="row g-4">
          <div class="col-xl-2">
            <!-- Search and Filter Section -->
            <div class="bg-light ps-3 py-3 rounded mb-4 filter-section">
              <h6>Filter by Category</h6>
              <select id="categories" name="categorylist" class="border-0 form-select-sm bg-light me-3 filter-select" [(ngModel)]="selectedCategory" (change)="filterByCategory()">
                <option value="">Show All</option>
                <option *ngFor="let category of categoryList" [value]="category.slug">{{ category.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-xl-8">
           
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row g-4 justify-content-center">
          <div class="row g-4">
            <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of getCurrentProducts()">
              <div class="rounded position-relative fruite-item border border-secondary">
                <div class="fruite-img">
                  <img [src]="product.thumbnail" class="img-fluid w-100 rounded-top" alt="{{ product.title }}">
                </div>
                <div class="text-white px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;background-color: #f6ce54;">
                  {{ product.category }}
                </div>
                <div class="p-4 rounded-bottom">
                  <h5 style="color: rgb(83, 72, 72);">{{ product.title }}</h5>
                  <p>{{ product.description }}</p>
                  <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">${{ product.price }}</p>
                    <div class="d-flex mt-3">
                      <button (click)="addToCart(product)" class="btn border border-secondary rounded-pill px-3 text-primary me-2">
                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                      </button>
                      <button (click)="viewProductDetails(product.id)" class="btn border border-secondary rounded-pill px-3 text-primary">
                        Details
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="pagination d-flex justify-content-center mt-5">
              <a class="rounded" (click)="previousPage(); $event.preventDefault()" [ngClass]="{'disabled': currentPage === 1}">&laquo;</a>
              <a *ngFor="let page of [].constructor(totalPages); let i = index" 
                 class="rounded mx-1" 
                 [class.active]="currentPage === i + 1" 
                 (click)="currentPage = i + 1; scrollToTop(); $event.preventDefault()">
                {{ i + 1 }}
              </a>
              <a class="rounded" (click)="nextPage(); $event.preventDefault()" [ngClass]="{'disabled': currentPage === totalPages}">&raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fruits Shop End -->
